* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff-title: 'Staatliches', cursive;
    --ff-texting: 'Palanquin', sans-serif;

    font-size: 62.5% ;
    --fs-title1: 4.0rem;
    --fs-title2: 2.0rem;
    --fs-text: 2.0rem ;

    --bg-primary: #EFF1FF;
    --bg-top: #8E9AAF;
}

body {
    background-color: var(--bg-primary);
}

body::before {
    content: '';
    background-color: var(--bg-top);
    position: absolute;
    width: 100vw;
    height: 32rem;
    top: 0;
    left: 0;
    z-index: -1;
}

.page, header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1.0rem;
}

header {
    margin-top: 3.2rem;
}

header img {
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

header h1 {
    margin-top: 2.0rem;
    width: 100vw;

    font-size: var(--fs-title1);
    font-family: var(--ff-title);
    text-transform: uppercase;
    font-weight: 400;
    line-height: 3.4rem;

    text-align: center;
    padding: 0.8rem 8.6rem;
    background-color: #CBC0D3;

    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.subtitle {
    font-family: var(--ff-texting);
    font-size: var(--fs-text);

    color: #23053A;

    margin-top: 5.0rem;
    text-align: center;
}

main {
    margin-top: 6.3rem;

    max-width: 32rem;
    height: auto;
}

img {
    max-width: 32rem;
}

.card {
    position: relative;
}

.card h2 {
    position: absolute;
    top: 3.6rem;
    right: 1.6rem;
    font-family: var(--ff-title);
    font-size: var(--fs-title2);
    font-weight: 400;
    line-height: 3.4rem;
    color: #4A4E69;

    padding: 0.1rem 2.3rem;
    background: #FEEAFA;
    border-radius: 2.0rem;


}

.card img {
    border-radius: 2.0rem;
    object-fit: cover;
    transition: all 500ms;
    filter: brightness(0.5);
    margin-top: 2.0rem;
}

.card img:hover {
    transform: scale(1.05);
    filter: blur(1px);
}

footer p {
    margin-top: 3.0rem;
    margin-bottom: 3.0rem;
    font-family: var(--ff-texting);
    font-size: var(--fs-text);
    color: #23053A;
}

footer a {
    text-decoration: none;
    cursor: pointer;
}